* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* write your CSS here */
/* styles.css */
.container {
  background-color: #f3f3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}
.container .title {
  font-weight: bold;
  margin: 0;
}
.container .desc {
  text-align: center;
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
}
/* Step 1: Full Name, Email, Phone, GitHub */
#multistep-form {
  width: 800px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 30px;
  padding-bottom: 40px;
}
#multistep-form .progress {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-inline: 10px;
  border-bottom: 3px solid #f2f3f5;
}
#multistep-form .progress p {
  color: #000;
  background-color: #e5e7eb;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 50%;
}
#multistep-form .progress p.active {
  color: #fff;
  background-color: #fc6c4c;
}
#multistep-form .progress span {
  width: 20%;
  height: 8px;
  background: #e5e7eb;
  border-radius: 10px;
}
#multistep-form .progress span.active {
  background-color: #fc6c4c;
}

.step {
  display: none;
}

.step h2 {
  margin-bottom: 10px;
  padding-top: 40px;
}
.step p {
  color: #9b9ea3;
  margin-bottom: 25px;
  font-size: 17px;
  margin-top: 15px;
}
.personal-info .form-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 3px solid #f2f3f5;
}
.personal-info .form-1 .input-group {
  width: 47%;
  margin-bottom: 30px;
}
.personal-info .form-1 .input-group label {
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  text-indent: 5px;
}
.personal-info .form-1 .input-group input {
  border-radius: 10px;
  border: 1px solid #9b9ea3;
  font-size: 16px;
  padding: 12px 15px;
  outline: unset;
  width: 100%;
}
.personal-info .form-1 .input-group input:focus {
  border-color: #fc6c4c;
}
#nextBtn {
  padding: 13px 30px;
  font-size: 17px;
  background-color: #fc6c4c;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.personal-info #nextBtn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 40px;
}

button:hover {
  background-color: #0056b3;
}
.form-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 3px solid #f2f3f5;
}
.custom-radio-button-container input[type='radio'] {
  display: none;
}
.custom-radio-button-container,
.custom-check-button-container {
  display: flex;
  align-items: center;
  width: 46%;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}
.custom-radio-button,
.custom-check-button-container {
  padding: 15px;
  border: 1px solid #9b9ea3;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.custom-radio-button span {
  background-color: #fc6c4c;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-radio-button b {
  color: #000;
}
.custom-radio-button-container
  input[type='radio']:checked
  + .custom-radio-button {
  border-color: #fc6c4c;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302);
}

.buttons-group {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-group #prevBtn {
  padding: 13px 30px;
  font-size: 17px;
  background-color: #fff;
  color: #fc6c4c;
  border: 1px solid #fc6c4c;
  border-radius: 12px;
  cursor: pointer;
}

.custom-check-button-container {
  margin-bottom: 40px;
  width: 47%;
}

.form-check-input {
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  border-radius: 5px;
}

.form-check-input:checked {
  background-color: #fc6c4c;
  border-color: #fc6c4c;
}
.form-check-input:checked[type='checkbox'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.review .form-2 p {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000;
  border-radius: 12px;
  padding: 20px;
  background-color: #f2f3f5;
  overflow: hidden;
  cursor: pointer;
}
.review .form-2 p:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302);
}
.review .form-2 p span {
  font-size: 15px;
  text-wrap: wrap;
  line-height: 1.5;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 100px;
  position: relative;
}

@media screen and (max-width: 850px) {
  .container {
    padding: 40px 20px;
  }
  .container #multistep-form {
    width: 600px;
    padding-bottom: 25px;
  }
  #multistep-form .progress p {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    gap: 10px;
  }
  .container #multistep-form {
    width: 100%;
    padding: 25px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .container .title {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }
  .container .desc {
    font-size: 15px;
    margin: 0;
  }
  #multistep-form .progress p {
    width: 38px;
    height: 38px;
  }
  #multistep-form .progress span {
    width: 16%;
    height: 6px;
  }
  .step h2 {
    padding-top: 30px;
    font-size: 20px;
  }
  .step p {
    font-size: 16px;
    margin-top: 0;
  }
  .personal-info .form-1 {
    padding-bottom: 10px;
  }
  .personal-info .form-1 .input-group {
    width: 100%;
  }
  .personal-info .form-1 .input-group label {
    font-size: 15px;
  }

  .personal-info .form-1 .input-group input {
    border-radius: 8px;
    font-size: 14px;
    padding: 12px;
  }
  .personal-info #nextBtn {
    margin-top: 20px;
  }

  .form-2 {
    padding-bottom: 20px;
  }

  .custom-radio-button-container {
    width: 100%;
  }
  .custom-radio-button {
    padding: 10px;
  }
  .custom-check-button-container {
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 8px;
  }
  .custom-check-button-container input {
    width: 15px;
    height: 15px;
    border-radius: 4px;
  }
  .buttons-group {
    padding-top: 20px;
  }
  .buttons-group #prevBtn,
  #nextBtn {
    padding: 11px 20px;
    font-size: 17px;
    border-radius: 8px;
  }

  .review .form-2 p {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    flex-direction: row;
    margin-bottom: 13px;
    align-items: center;
  }
  .success {
    padding: 20px 0 0 0;
    gap: 20px;
  }
  .success h2 {
    padding-top: 0;
  }
  .success p {
    font-size: 15px;
    text-align: justify;
  }
}

@media screen and (max-width: 500px) {
  .container #multistep-form {
    padding: 25px 15px;
    padding-top: 15px;
  }
  #multistep-form .progress {
    padding-inline: 0;
  }
  #multistep-form .progress p {
    width: 30px;
    height: 30px;
  }
  #multistep-form .progress span {
    width: 16%;
    height: 5px;
  }
}
